

!.gitignore
.history
*.iws
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/*.iml
/*.ipr
/generated/
/out
/RUNNING_PID
dist
lib_managed
logs
node_modules/
npm-debug.log
project/metals.sbt
project/project
project/target
target
tmp
yarn-debug.log
yarn-error.log
.bloop
/api-repos/*
/.bsp/*
/.metals/*
/.vscode/*
api-repos/**/*
generated/**/*